* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: #eb0fee;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container {
    width: 90vw;
    max-width: 600px;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #f4f4f4;
    border-radius: 25px;
    box-shadow:  0px, 0px, 20px rgba(0, 0, 0, 0.5);

}
header {
    font-size: 2.5rem;
    color: #4a4a4a;
    text-align: center;
    padding: 1rem;
    text-shadow: 2px, 2px, 4px rgba(0, 0, 0, 0.3);
}
.todo-add {
    width: 90%;
    display: flex;
    margin-top: 1rem;
    font-size: 1.1 rem;

}
#todo-input {
    width: 80%;
    margin-right: 10px;
    border-color: #4a4a4a;
    border-radius: 5px;
    outline: none;
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
    
}
#todo-input:focus {
    border: 2px solid #ff758c;
}

#todo-button {
    width: 20%;
    padding: 0.7rem;
    background-color: #4a4a4a;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

}

#todo-button:hover {
background-color: #111111;

}

.todos {
    width: 90%;
    margin-top: 2rem;
    overflow: auto;
    overflow-x: hidden;

}
 
.todos ul {
    list-style: none;

}
 ul li {
    background-color: #f4f4f4;
    color: #4a4a4a;
    font-weight: bold;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    border:  5px solid #fff;

 }
 ul li:nth-child(even){
background: #d8d8d8;
 }
ul li:hover{
    transform: translateY(-5px);
 }
li p {
    flex-grow: 1;
}
 
li i{
    color: red;
    font-size: 1.5rem;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 1.3s ease;
}
li i:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 576px) {
    header {
        font-size: 2rem;
    }
}


